#xpro_settings_meta_box{
    text-transform: capitalize;
}

.block-editor-page #side-sortables #xpro_settings_meta_box select {
    min-width: 84%;
    padding: 3px 24px 3px 8px;
    height: 20px;
}

.block-editor-page #normal-sortables #xpro_settings_meta_box select {
    min-width: 200px;
}

.block-editor-page .edit-post-meta-boxes-area #poststuff #xpro_settings_meta_box h2.hndle {
    border-bottom: 0;
}

.block-editor-page #xpro_settings_meta_box .components-base-control__field, .block-editor-page #xpro_settings_meta_box .block-editor-page .transparent-header-wrapper, .block-editor-page #xpro_settings_meta_box .adv-header-wrapper, .block-editor-page #xpro_settings_meta_box .stick-header-wrapper, .block-editor-page #xpro_settings_meta_box .disable-section-meta div {
    margin-bottom: 10px;
}

.block-editor-page #xpro_settings_meta_box .disable-section-meta div label {
    vertical-align: inherit;
}

.block-editor-page #xpro_settings_meta_box .post-attributes-label-wrapper {
    margin-bottom: 8px;
    margin-top: 10px;
}

#side-sortables #xpro_settings_meta_box select {
    min-width: 100%;
}

#normal-sortables #xpro_settings_meta_box select {
    min-width: 200px;
}
